@charset "utf-8";

h1 {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2 {
    color: #000000;
    font-size: 48px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-align: center;
}

p {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    /* 行の高さ / フォントサイズ */
    letter-spacing: 0;
    /* 文字間 / 1000 + em */
    /* 値が0の場合は単位が省略できる */
}

.info {
    font-size: 12px;
    text-align: right;
}

.copy {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}