@charset "utf-8";

body {
  color: #676767;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  letter-spacing: 0;
}

/* フルードイメージ　必ず最初に記述する */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.inner {
  width: 87.5%;
  /* 560px / 640px * 100 */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 40px 0;
  text-align: center;
}

header .inner {
  display: grid;
  justify-content: center;
  row-gap: 10px;
}

header h1 {
  justify-self: center;
}

.global ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 30px;
}

.posts2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts2 article {
  /* width: 380px; */
  width: 47.5%;
  /* 380px / 800px * 100 */
}

.posts {
  display: grid;
  row-gap: 60px;
}



@media (640px<=width) {
  header .inner {
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .posts {
    grid-template-columns: 1fr 1fr;
    /* repeat(2, 1fr); */
    column-gap: 5%;
    /*
        ブラウザサイズに合わせて可変したいとき「5%」
        常に余白の幅を固定したい時は「40px」
        */
  }
}