@charset "utf-8";

body {
    margin: 0;
    color: #898989;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    /* 21 割る 14 */
    letter-spacing: 0;
}

img {
    vertical-align: middle;
}