@charset "utf-8";

body {
    margin: 0;
    color: #898989;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    /* 21 割る 14 */
    letter-spacing: 0;
}

img {
    vertical-align: middle;
}

.wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 60px 0 80px;
}

footer {
    margin: 80px 0;
    padding-top: 20px;
    border-top: 3px solid #E5916B;
    text-align: right;
}

.copy {
    margin: 0;
}