@charset "utf-8";

body {
    color: #000;
    font-size: 14px;
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.inner {
    width: 88%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}