@charset "utf-8";

body {
  color: #A6ADB4;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

h2{
  color: #202124;
  font-size: 24px;
  font-weight: bold;
}

h3{
  margin-bottom: 12px;
  color: #202124;
  font-size: 18px;
  font-weight: bold;
}

.inner {
  max-width: 800px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

.allpost{
  margin-bottom: -45px;
}

.allpost article{
  margin-bottom: 45px;
}

.time{
  margin-top: 20px;
  padding-left: 26px;
  font-size: 12px;
  font-style: oblique;
  background: url(./images/icon_time.png) no-repeat left center;
}

/* header */
header {
  margin: 30px 0 80px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

header ul {
  display: flex;
  justify-content: center;
}

header li {
  margin: 0 10px;
}

header a{
  font-size: 12px;
  font-weight: bold;
}

header .active{
  color: #202124;
}

/* footer */
footer {
  padding: 42px 0;
  background-color: #202124;
  color: #fff;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer li {
  margin: 0 10px;
}

footer small{
  font-size: 12px;
}

/* news */
.news {
  margin-bottom: 60px;
}

.news h2{
  margin-bottom: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EBEDED;
}

/* trending */
.trending{
  padding: 60px 0;
  background-color: #F6F8F9;
}

.trending h2{
  margin-bottom: 40px;
}

.trending article{
  background-color: #fff;
}

.trending .content{
  padding: 40px 35px;
}

@media (min-width:640px) {
  h1 {
    margin-bottom: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  header li {
    margin: 0 0 0 20px;
  }

  .allpost{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .allpost article{
    width: 47.5%;
  }

  footer {
    padding-top: 102px;
  }

  footer .inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  footer ul {
    margin-bottom: 0px;
  }

  footer li {
    margin: 0 0 0 20px;
  }
}
