@charset "utf-8";

body {
    color: #5A5A5A;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.025em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.inner {
    max-width: 1140px;
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #000;
    position: fixed;
    width: 100%;
    padding: 25px 0;
}

header .inner {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.global ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

.global a {
    color: #fff;
}

.template {
    background-color: #F4F4F4;
}

.template .pic {
    background-color: #fff;
}

.template img {
    position: relative;
    right: 25px;
    bottom: 25px;
}

.updates article {
    position: relative;
}

.hot {
    position: absolute;
    top: -20px;
    right: -20px;
}

@media (640px <=width) {}