@charset "utf-8";

body {
    color: #5A5A5A;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.025em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h2 {
    margin-bottom: 40px;
    color: #2B2B2B;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.2;
}

.inner {
    max-width: 1140px;
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 200px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #ED145B;
    border-radius: 25px;
}

/* header
-------------------- */
header {
    background-color: rgba(43, 43, 43, 0.8);
    position: fixed;
    width: 100%;
    padding: 25px 0;
    /* opacity: 0.8; */
    /* opacity（透明度）：0 - 1、80%の時は0.8 */
    z-index: 999;
    /* z-indexはpositionとセットで使用する */
    /* どの要素よりも常に前面に表示したい時は、999などの大きい数字を指定する */
}

header .inner {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.global {
    display: none;
}

.global ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

.global a {
    color: #fff;
}

/* footer
-------------------- */
footer {
    padding: 60px 0 160px;
    background-color: #2B2B2B;
}

footer small {
    color: #fff;
    font-size: 14px;
}

/* main
-------------------- */
/* mainvisual */
.mainvisual {
    padding: 280px 0 180px;
    /* headerは固定配置のため、padding-topはheaderの高さも考慮した値にする */
    background: url(./images/bg_mainvisual.jpg) no-repeat center center/cover;
    color: #fff;
}

.mainvisual h2 {
    color: #fff;
    font-size: 46px;
}

.mainvisual h2 span {
    color: #ED145B;
}

.mainvisual .btn {
    margin-top: 100px;
}

/* template */
.template {
    padding: 100px 0;
    background-color: #F4F4F4;
}

.template .inner {
    display: grid;
    row-gap: 60px;
}

.template .pic {
    background-color: #fff;
}

/* updates */
.updates {
    padding: 100px 0;
}

.updates .posts {
    display: grid;
    row-gap: 40px;
}

.updates article {
    position: relative;
    background-color: #F4F4F4;
}

.updates .text {
    padding: 25px 20px 35px;
}

.updates h3 {
    margin-bottom: 20px;
    color: #2B2B2B;
    font-size: 16px;
    font-weight: bold;
}

.hot {
    position: absolute;
    top: -20px;
    right: -20px;
}

@media (640px <=width) {
    header {
        padding: 40px 0;
    }

    .global {
        display: block;
    }

    .menu {
        display: none;
    }

    .template .inner {
        grid-template-columns: 470fr 580fr;
        column-gap: 8%;
        align-items: end;
        /* flexboxやgridで横に並べた時に、高さが伸びてしまう。align-itemsを設定することで直る */
    }

    .template img {
        position: relative;
        right: 25px;
        bottom: 25px;
    }

    .updates .posts {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5%;
    }
}