@charset "utf-8";

body {
    color: #5A5A5A;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.025em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.inner {
    max-width: 1140px;
    width: 90.625%;
    margin-left: auto;
    margin-right: auto;
}

/* header
-------------------- */
header {
    background-color: rgba(43, 43, 43, 0.8);
    position: fixed;
    width: 100%;
    padding: 25px 0;
    /* opacity: 0.8; */
    /* opacity（透明度）：0 - 1、80%の時は0.8 */
    z-index: 999;
    /* z-indexはpositionとセットで使用する */
    /* どの要素よりも常に前面に表示したい時は、999などの大きい数字を指定する */
}

header .inner {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.global {
    display: none;
}

.global ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

.global a {
    color: #fff;
}

/* footer
-------------------- */

/* main
-------------------- */
/* mainvisual */

/* template */
.template {
    background-color: #F4F4F4;
}

.template .pic {
    background-color: #fff;
}

.template img {
    position: relative;
    right: 25px;
    bottom: 25px;
}

.updates article {
    position: relative;
}

.hot {
    position: absolute;
    top: -20px;
    right: -20px;
}

@media (640px <=width) {
    header {
        padding: 40px 0;
    }

    .global {
        display: block;
    }

    .menu {
        display: none;
    }
}