@charset "utf-8";

/* base */
body {
  margin: 0;
  color: #333;
  font-size: 14px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.7;
}

h1 {
  margin: 0;
  color: #2E9568;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.2em;
}

h2 {
  margin: 0 0 40px;
  padding-left: 15px;
  border-left: 10px solid #2E9568;
  color: #000;
  font-size: 28px;
  line-height: 1.2;
}

/* common */
.inner {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  padding: 50px 0;
  background: url(./images/icon_line.png) repeat-x center top;
  text-align: center;
}

/* main */
.about img {
  margin-bottom: 50px;
}

.news {
  margin: 100px 0;
}

.list {
  padding: 20px 50px;
  background: #EDEDED url(./images/txt_news.png) no-repeat right 30px bottom 30px;
}

.list ul {
  padding-left: 0;
  list-style: none;
}

.list li {
  margin: 30px 0;
}

.feature {
  margin: 100px 0 0;
}

.feature dt {
  margin: 50px 0 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.feature dd {
  margin: 0 0 100px 0;
}

.pic {
  text-align: center;
}

.faq {
  margin: 100px 0;
}

.faq dt {
  margin-bottom: 30px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: bold;
  background: url(./images/icon_question.png) no-repeat left top;
}

.faq dd {
  margin-bottom: 50px;
  margin-left: 0;
  padding-left: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #EDEDED;
  background: url(./images/icon_answer.png) no-repeat left top;
}

/* footer */
footer {
  padding: 50px 0;
  background-color: #2E9568;
  color: #fff;
  text-align: center;
}

footer p {
  font-size: 12px;
  font-weight: bold;
}
