@charset "utf-8";

body {
  color: #404040;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
  /* フルードイメージ（リセットCSSにすでに書いてあるが、一応書く）*/
  vertical-align: middle;
}

h2 {
  margin-bottom: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}

.inner {
  max-width: 1200px;
  width: 87.5%;
  /* Mobile版のアートボード(100%)とコンテンツ幅の比率（業務ではデザイナーさんに確認）*/
  margin-left: auto;
  margin-right: auto;
}

/* header */
header {
  padding: 40px 0;
}

header .inner {
  display: grid;
  grid-auto-flow: column;
  /* 横幅はautoで良いので、ただただ横に並べたい時 */
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

header a {
  font-size: 12px;
  font-weight: bold;
}

header .current {
  color: #985E5B;
}

/* footer */
footer {
  padding: 40px 0;
  background-color: #EDEFF2;
  text-align: center;
}

footer .inner {
  display: grid;
  justify-content: center;
  row-gap: 25px;
}

footer img {
  justify-self: center;
  /* margin-bottom: 25px; */
}

footer small {
  font-size: 12px;
}

/* about */
.mainvisual {
  margin-bottom: 100px;
  padding: 400px 0 100px;
  background: url(./images/pic_main.png) no-repeat center/cover;
  color: #fff;
  text-align: right;
}

.mainvisual h2 {
  margin-bottom: 20px;
  border: 0;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}

.mainvisual p {
  font-size: 18px;
  line-height: 1.2;
}

/* contents */
.contents {
  display: grid;
}

/* services */
.services {
  margin-bottom: 100px;
}

.services .posts {
  display: grid;
  row-gap: 80px;
}

article img {
  margin-bottom: 30px;
}

article a {
  display: block;
  max-width: 300px;
  margin-left: auto;
  background-color: #985E5B;
  text-align: center;
  color: #fff;
}

/* information */
.information {
  margin-bottom: 100px;
}

.information li {
  margin-bottom: 20px;
}

/* tablet表示（640px以上） */
@media (640px<=width) {
  footer .inner {
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .contents {
    grid-template-columns: 490fr 280fr;
    /* 横幅の比率を明確に決めたい時 */
    column-gap: 8.3%;
  }

  article a {
    max-width: none;
    /* max-widthの初期値「none（ナン）」に戻す*/
  }
}

/* pc表示（960px以上） */
@media (960px<=width) {

  .contents {
    margin-bottom: 160px;
  }

  .services {
    margin-bottom: 0;
  }

  .information {
    margin-bottom: 0;
  }

  .posts {
    grid-template-columns: 1fr 1fr;
    column-gap: 5.7%;
    /* grid-template-columns: 47% 47%;
    justify-content: space-between; */
  }
}