@charset "utf-8";

body {
    margin: 0;
    background-color: #f2f2f2;
    color: #151D41;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 2;
    letter-spacing: 0;
}

.wrapper {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 50px 0 70px;
    text-align: center;
    line-height: 1;
    /* 上下の余白が広いと感じたら指定する */
}

h2 {
    margin: 100px 0 20px;
    color: #27DEBF;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
}

h3 {
    margin: 0 0 30px;
    padding-bottom: 20px;
    border-bottom: 3px dashed;
    /* border-colorの初期値は「currentcolor（文字と同じ色） */
    font-size: 24px;
    line-height: 1.5;
}

/* ディフォルトでマージンがついちゃうので、毎回消す */
dd {
    margin-left: 0;
}

a {
    color: #151D41;
    font-size: 14px;
    text-decoration: none;
}

.lead {
    margin: 20px 0 50px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.graphics {
    background-color: #27DEBF;
    margin-bottom: 50px;
    padding: 40px;
    color: #fff;
}

.developement {
    background-color: #fff;
    padding: 40px;
}

.testimonials {
    text-align: center;
}

.name {
    margin: 20px 0 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    margin: 100px 0 50px;
    padding-top: 20px;
    border-top: 3px solid #27DEBF;
    font-size: 14px;
    font-style: oblique;
    text-align: right;
}